* {
    font-family: system-ui, sans-serif;
}

html {
	scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
}

#navbar {
    background-color: #000000;
    height: 2em;
    width: 100%;
    position: fixed;
}

.dark {
    background-color: #000000;
    color: #ffffff;
}

h1 {
    font-size: 32pt;
}

p {
    font-size: 16pt;
}

img {
    width: 150%
}

section {
    display: grid;
    margin: auto;
    width: 50%;
    place-items: center;
    min-height: 100vh;
}

.colored-text-block {
    text-transform: uppercase;
    font-size: 34pt;
    font-weight: 100;
    background: -webkit-linear-gradient(#636363, #f66b83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden {
    opacity: 0;
}

.fade-in {
    transition: all 2s;
    filter: blur(10px);
}

.slide-in-from-left {
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-40%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}